[alias]
  a = add
  ap = add -p

  # Branchs
  b = branch
  bm = branch --merged
  bmr = branch --merged --remote
  branch-name = !"git rev-parse --abbrev-ref HEAD"
  bn = branch-name

  # Commits
  c = commit
  ca = commit --amend
  cm = commit --message
  cme = commit --allow-empty --message
  cdv = commit --dry-run --verbose
  unc = reset HEAD~
  uns = reset HEAD --

  # Configs
  cfg = config --global --edit

  # Cleanup
  cleanup-force-local = !"git branch | grep -v main | grep -v master | xargs git branch -D"
  cleanup-local-remote = !"git remote prune origin"

  # Comment because these don't work anymore
  # cleanup-local = !"git branch --merged | grep -v \"\\*\" | grep -v master | grep -v next | xargs -n 1 git branch -d"
  # cleanup-remote = !"git branch --remote --merged | grep -v master | grep -v next | sed 's/origin\\///' | xargs -n 1 git push --delete origin"

  # Checkouts
  co = checkout

  # Diffs
  df = diff
  dc = diff --cached # Show changes that have been staged

  # Fetchs
  ft = fetch

  # List files
  ls = ls-files
  ls-ign = ls-files -o -i --exclude-standard # Show files ignored by git

  # Logs
  l = log
  lo = l --oneline
  last = l -1 HEAD
  lasto = lo -1 HEAD
  lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"

  # Merges
  mg = merge --no-ff

  # Pulls
  pl = pull --ff-only

  # Pushs
  ps = push
  pst = ps --follow-tags
  psu = !"git push -u origin $(git bn)" # Push the current branch to the remote "origin", and set it to track the upstream branch
  psut = !"git psu --follow-tags"
  unps = !"git push origin :$(git bn)" # Delete the remote version of the current branch

  # Status
  st = status

  visual = !gitx
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  editor = code
  autocrlf = input
[user]
  name = Lucas Rinaldi
  email = lucashrinaldi@gmail.com
